<h4>Notifications</h4>

<% if discussion.subscribed?(user) %>
  You're receiving notifications on this discussion
  <%= button_to "Unsubscribe", discussion_notifications_path(@discussion), method: :post, class: "btn btn-primary btn-sm" %>
<% else %>
  You're not receiving notifications on this discussion
  <%= button_to "Subscribe", discussion_notifications_path(@discussion), method: :post, class: "btn btn-primary btn-sm" %>
<% end %>
